# core 
streamlit>=1.33.0
python-dotenv>=1.0.0
pypdf>=4.2.0

# vector database
faiss-cpu>=1.7.4

# langchain ecosystem
langchain>=0.3.0
langchain-community>=0.3.0
langchain-huggingface>=0.3.0
langchain-openai>=0.3.0

# embeddings / models
huggingface_hub>=0.23.0
sentence-transformers>=2.7.0

# optional, if you ever switch to OpenAI API
openai>=1.35.0
tiktoken>=0.7.0
